In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('Resume.csv',sep='|')

labels = df.Category.unique()
df.Category.value_counts()

Category
data engineer    10
Name: count, dtype: int64

In [8]:
df.dropna(inplace=True)
df.isnull().sum()

Category       0
link           0
id             0
Resume         0
Resume_html    0
dtype: int64

In [9]:
df.id = [x[::5] for x in df.id]
df = df[['id', 'Resume', 'Resume_html', 'Category']]
df.columns = ['ID', 'Resume_str', 'Resume_html', 'Category']
df.Category  = [x.upper() for x in df.Category]
df.head()

,ID,Resume_str,Resume_html,Category
0,29309825,Jessica Claire Montgomery...,"<div class=""sc-17g85ze-0 elmLAX sc-ydzc86-3 kZ...",DATA ENGINEER
1,14996931,Jessica Claire re...,"<div class=""sc-17g85ze-0 hqxIsp sc-ydzc86-3 kZ...",DATA ENGINEER
2,20202267,Jessica Claire Montgomery Str...,"<div class=""sc-17g85ze-0 eloyfg sc-ydzc86-3 kZ...",DATA ENGINEER
3,24368114,JC Jessica Claire ...,"<div class=""sc-17g85ze-0 elkWGV sc-ydzc86-3 kZ...",DATA ENGINEER
4,65795845,"Jessica Claire , , ...","<div class=""sc-17g85ze-0 elmXHR sc-ydzc86-3 kZ...",DATA ENGINEER