In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('livecareer-data.csv',sep='|')

labels = df.profile.unique()
df.profile.value_counts()

profile
Data Scientist    70
Name: count, dtype: int64

In [5]:
df.dropna(inplace=True)
df.isnull().sum()

profile        0
url            0
id             0
data           0
resume_html    0
dtype: int64

In [8]:
df.id = [x[::5] for x in df.id]
df = df[['id', 'url', 'resume_html', 'profile']]
df.columns = ['ID', 'URL', 'Resume_html', 'Category']
df.Category  = [x.upper() for x in df.Category]
df.head()

C:\Users\larmi\AppData\Local\Temp\ipykernel_6160\2399558410.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Category  = [x.upper() for x in df.Category]

,ID,URL,Resume_html,Category
0,5,https://www.livecareer.com/resume-search/r/dat...,none,DATA SCIENTIST
1,1,https://www.livecareer.com/resume-search/r/dat...,none,DATA SCIENTIST
2,8,https://www.livecareer.com/resume-search/r/dat...,none,DATA SCIENTIST
3,1,https://www.livecareer.com/resume-search/r/dat...,none,DATA SCIENTIST
4,2,https://www.livecareer.com/resume-search/r/gra...,none,DATA SCIENTIST