In [4]:
import pandas as pd

# Create a dictionary

skills = ['PHP','Java','Pandas']

data = {
    'Name': ['John', 'Anna', 'Peter'],
    'Age': [28, 24, 22],
    'skills': [['PHP','Java'],['PHP','Pandas'],['Java']],
}

# Create DataFrame
df = pd.DataFrame(data)

for skill in skills:
    df[skill] = df['skills'].apply(lambda x: 1 if skill in x else 0)


final = df.drop('skills', axis=1)

# Print DataFrame
print(final)

    Name  Age  PHP  Java  Pandas
0   John   28    1     1       0
1   Anna   24    1     0       1
2  Peter   22    0     1       0